# compiled Python
__pycache__/

# MacOS Desktop Services
.DS_Store

# virtual envs
venv/
.venv/

# ignore environment files
.env/
*.env*

# except for .env.example
!*.env.example

# temporary Jupyter IPython notebook files
.ipynb_checkpoints/

# temporary cache directories from hypothesis and pytest libraries
.hypothesis/
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.egg-info/